.app {
    width: 100vw;
    height: 100vh;
  }
  
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .game-view {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  #renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
  }
  
  .pause-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }